html,
body {
    margin: 0;
    padding: 0;
    background: #3FCAA2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    display: block;
    margin-bottom: 20px;
    border: 2px solid #333;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

}

button {
    background-color: #3FCAA2;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #2EAF8A;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

button.clear {
    background-color: #f44336;
}

button.clear:hover {
    background-color: #d32f2f;
}

button.generate {
    background-color: #2196f3;
}

button.generate:hover {
    background-color: #1976d2;
}

#resultImage {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
    
    button {
        padding: 10px 20px;
        font-size: 14px;
    }
}